MYSQL_URL="mysql://root:password@127.0.0.1:3306/love_u_2"
PORT=3001
JWT_SECRET="replace-with-a-long-random-secret"
JWT_EXPIRES_IN=7d


# 申请
# https://dash.cloudflare.com/
R2_BUCKET=love-app

R2_ENDPOINT=https://你的AccountID.r2.cloudflarestorage.com

R2_ACCESS_KEY_ID=xxxx

R2_SECRET_ACCESS_KEY=xxxx

R2_PUBLIC_URL=https://pub-xxxxxxxx.r2.dev